/* モバイルファースト */
/* スマホ対応 */
.title {
    font-family: 'Black Ops One', cursive;
    font-size: 200%;
    width: 90%;
    text-align: center;
    padding: 5% 0;
    margin: 0 5%;
    margin-top: 5%;
    color: white;
    border-radius: 10px 10px 0 0;
}

.main {
    background-color: white;
    margin: 0 5%;
    margin-bottom: 5%;
    padding: 3% 0;
    width: 90%;
    border-radius: 0 0 10px 10px;
}

table {
    width: 100%;
}

th,
td {
    border: solid 1px;
    height: 90px;
    width: 50%;
    padding-left: 3%;
}

th,
td,
.worning,
.btn-name {
    font-size: 80%;
}

.worning {
    width: 100%;
    padding: 3%;
    margin-top: 3%;
    border-radius: 10px;
}

.btn,
.button,
.button a,
.worning {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100%;
    margin: 0 1%;
    margin-top: 3%;
    padding: 2%;
}

img {
    width: 50%;
}

.btn-name,
tr span {
    display: none;
}

.button .material-symbols-outlined {
    font-size: 119.9%;
}

/* タブレット対応 */
@media screen and (min-width: 768px) {
    .title {
        font-size: 300%;
        width: 70%;
        padding: 4% 0;
        margin: 0 15%;
        margin-top: 5%;
    }

    .main {
        margin: 0 15%;
        margin-bottom: 5%;
        width: 70%;
    }

    th,
    td,
    .worning,
    .btn-name {
        font-size: 90%;
    }

    .worning {
        padding: 2%;
    }

    img {
        width: 30%;
    }

    .btn-name,
    tr span {
        display: inline-block;
    }

    .button .material-symbols-outlined {
        font-size: 135.1%;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1280px) {
    .title {
        font-size: 400%;
        width: 60%;
        padding: 3% 0;
        margin: 0 20%;
        margin-top: 3%;
    }

    .main {
        margin: 0 20%;
        margin-bottom: 5%;
        width: 60%;
        padding: 2% 0;
    }

    th,
    td,
    .worning,
    .btn-name {
        font-size: 100%;
    }

    .worning {
        padding: 1.5%;
    }

    img {
        width: 20%;
    }

    .button .material-symbols-outlined {
        font-size: 150%;
    }
}