/* モバイルファースト */
/* スマホ対応 */
.title {
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    width: 90%;
    height: auto;
    text-align: center;
    padding: 25px 0;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    border-radius: 10px 10px 0 0;
}

.main {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.btn,
.button,
.button a,
.done {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a,
.input,
.done,
.btn-name {
    font-size: 10px;
}

.btn {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/* 
.btn-name {
    display: block;
} */

.button .material-symbols-outlined {
    font-size: 20px;
}

/* タブレット対応 */
@media screen and (min-width: 670px) {
    .title {
        font-size: 45px;
        padding: 30px 0;
    }

    .button a,
    .input,
    .done,
    .btn-name {
        font-size: 15px;
    }

    .btn {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .button .material-symbols-outlined {
        font-size: 25px;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1024px) {
    .title {
        font-size: 60px;
        width: 35%;
        padding: 50px 0;
    }

    .main {
        width: 35%;
    }

    .button a,
    .input,
    .done,
    .btn-name {
        font-size: 20px;
    }

    .btn {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .button .material-symbols-outlined {
        font-size: 30px;
    }
}