/* モバイルファースト */
/* スマホ対応 */
.title {
    font-family: 'Black Ops One', cursive;
    font-size: 200%;
    width: 90%;
    text-align: center;
    padding: 5% 0;
    margin: 0 auto;
    margin-top: 5%;
    color: white;
    border-radius: 10px 10px 0 0;
}

.main {
    background-color: white;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 3% 0;
    width: 90%;
    border-radius: 0 0 10px 10px;
}

.btn,
.button,
.button a,
.done {
    display: flex;
    justify-content: center;
    align-items: center;
}

label,
.button a {
    font-size: 80%;
}

.done {
    width: 100%;
    padding: 3%;
    border-radius: 10px;
    margin: 0 auto;
}

.btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 3%;
}

p {
    margin: 0;
}

p.icon-name {
    display: block;
    font-size: 100%;
}

.button .material-symbols-outlined {
    font-size: 150%;
}

/* タブレット対応 */
@media screen and (min-width: 768px) {
    .title {
        font-size: 300%;
        width: 70%;
        padding: 4% 0;
    }

    .main {
        padding: 3% 0;
        width: 70%;
    }

    label,
    .button a {
        font-size: 90%;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1280px) {
    .title {
        font-size: 400%;
        width: 60%;
        padding: 3% 0;
    }

    .main {
        padding: 2% 0;
        width: 60%;
    }

    label,
    .button a {
        font-size: 120%;
    }
}