/* モバイルファースト */
/* スマホ対応 */
.main {
    background-color: white;
    margin: 0 3%;
    width: 94%;
    border-radius: 0 0 10px 10px;
    margin-bottom: 3%;
    padding: 1%;
}

.main .container {
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.favoriteContainer {
    width: 90%;
    height: 200px;
    display: grid;
    grid-template-columns: 30% 25% 10% 10% 25%;
    grid-template-rows: 30% 50% 20%;
    margin: 0 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid;
    border-radius: 5px;
}

.favoriteIcon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 5%;
}

.favoriteIcon img {
    width: 50px;
    height: 50px;
}

.favoriteUser {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.favoriteNickname {
    font-size: 15px;
}

.favoriteAccount {
    font-size: 13px;
    color: gray;
}

.favoriteFollow {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    justify-content: right;
    padding-right: 5%;
}

.mutual-follow,
.followed {
    background-color: #dee2e6;
    border-radius: 5px;
    width: 100%;
    height: 50%;
    font-weight: bold;
}

.favoriteButton {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-content: left;
    padding-left: 5%;
}

.favoriteButton .btn {
    width: 90%;
    margin: 0 0%;
}

.material-symbols-outlined.fb,
.material-symbols-outlined.fp {
    font-size: 20px;
}

.mutual-follow-fb,
.followed-fb {
    font-size: 10px;
}

.favoriteContent {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    border-top: 1px solid;
    padding: 1% 2%;
    font-size: 15px;
}

.favoriteTime {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    padding-right: 5%;
    color: gray;
    justify-content: right;
    font-size: 15px;
}

.btn-name,
.icon-name {
    display: none;
}

.favoriteButton .btn.unfollow,
.favoriteButton .btn.unfavorite,
.favoriteButton .btn.delete {
    background-color: #808080ad;
    color: white;
}

.favoritepost button,
.favoriteIcon,
.favoriteFollow,
.mutual-follow,
.followed,
.favoriteButton,
.favoriteButton button,
.material-symbols-outlined.fb,
.favoriteTime {
    display: flex;
    align-items: center;
}

.favoritepost button,
.favoriteIcon,
.favoriteUser,
.mutual-follow,
.followed,
.favoriteButton button {
    justify-content: center;
}

/* タブレット対応 */
@media screen and (min-width: 670px) {
    .favoriteAccount {
        font-size: 15px;
    }

    .mutual-follow-fb,
    .followed-fb {
        font-size: 15px;
    }

    .favoriteContainer {
        width: 70%;
        height: 250px;
        grid-template-columns: 20% 30% 10% 10% 30%;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .favoriteIcon img {
        width: 60px;
        height: 60px;
    }

    .material-symbols-outlined.fb,
    .material-symbols-outlined.fp {
        font-size: 25px;
    }

    /* 共通化 */
    .favoriteNickname,
    .mutual-follow-fb,
    .followed-fb,
    .favoriteContent,
    .favoriteTime {
        font-size: 17px;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1024px) {
    .favoriteContainer {
        width: 60%;
        height: 300px;
        grid-template-columns: 20% 20% 20%;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 1%;
        grid-template-rows: 40% 40% 20%;
    }

    .favoriteAccount {
        font-size: 17px;
    }

    .favoriteButton {
        padding-left: 2%;
    }

    .favoriteButton .btn {
        width: 140px;
        margin: 0 5px;
    }

    .favoriteIcon img {
        width: 100px;
        height: 100px;
    }

    .btn-name,
    .icon-name {
        display: flex;
    }

    .mutual-follow,
    .followed {
        height: 40%;
    }

    /* 共通化 */
    .material-symbols-outlined.fb,
    .material-symbols-outlined.fp {
        font-size: 30px;
    }

    /* 共通化 */
    .favoriteNickname,
    .mutual-follow-fb,
    .followed-fb,
    .favoriteContent,
    .favoriteTime {
        font-size: 20px;
    }
}