/* モバイルファースト */
/* スマホ対応 */
.main {
    background-color: white;
    margin: 0 3%;
    width: 94%;
    border-radius: 0 0 10px 10px;
    margin-bottom: 3%;
}

.main .container {
    padding: 1% 0;
}

.followContainer {
    width: 90%;
    height: 60px;
    display: grid;
    grid-template-columns: 20% 30% 35% 15%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid;
    border-radius: 5px;
}

.followIcon {
    grid-column: 1 / 2;
}

.followIcon img {
    width: 50%;
}

.followUser {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.followNickname {
    font-size: 80%;
}

.followAccount {
    font-size: 70%;
    color: gray;
}

.followFollow {
    grid-column: 3 / 4;
}

.mutual-follow {
    background-color: #dee2e6;
    border-radius: 5px;
    width: 90%;
    height: 50%;
    font-weight: bold;
    font-size: 60%;
}

.followButton {
    grid-column: 4 / 5;
}

.followButton .btn {
    width: 70%;
    margin: 0 auto;
    font-size: 60%;
}

p {
    margin: 0;
    font-size: 100%;
}

p.material-symbols-outlined {
    font-size: 150%;
}

/* 共通化 */
.followIcon,
.followFollow,
.mutual-follow,
.followed,
.followButton,
.followButton button,
.material-symbols-outlined.fb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.followButton .btn.unfollow {
    background-color: #808080ad;
    color: white;
}

button p.icon-name {
    display: none;
}

.followIcon,
.followUser,
.followFollow,
.followButton {
    grid-row: 1 / 2;
}

/* タブレット対応 */
@media screen and (min-width: 768px) {
    .followContainer {
        width: 70%;
        height: 100px;
    }

    .followIcon img {
        width: 60%;
    }

    .followNickname {
        font-size: 100%;
    }

    .followAccount {
        font-size: 90%;
    }

    .mutual-follow {
        font-size: 80%;
    }

    .followButton .btn {
        width: 90%;
    }

    .followButton button p.material-symbols-outlined {
        font-size: 150%;
    }

    /* 共通化 */
}

/* ＰＣ対応 */
@media screen and (min-width: 1280px) {
    .followContainer {
        width: 60%;
        height: 150px;
        grid-template-columns: 20% 25% 30% 25%;
    }

    .followIcon {
        grid-column: 1 / 2;
    }

    .followIcon img {
        width: 70%;
    }

    .followNickname {
        font-size: 200%;
    }

    .followAccount {
        font-size: 180%;
    }

    .mutual-follow {
        height: 35%;
        font-size: 150%;
    }

    .followButton .btn {
        width: 100%;
        font-size: 150%;
    }

    /* 共通化 */
    button p.icon-name {
        display: block;
    }
}