/* モバイルファースト */
/* スマホ対応 */
.main {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    border-radius: 0 0 10px 10px;
    margin-bottom: 19.5px;
}

.main .container {
    padding: 10px 0;
}

.followContainer {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 60px 2fr 2fr 1fr;
    grid-template-rows: 60px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.followIcon {
    grid-column: 1 / 2;
    padding: 5px;
}

.followIcon img {
    width: 50px;
    height: 50px;
}

.followUser {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.followAccount {
    font-size: 13px;
    color: gray;
}

.followFollow {
    grid-column: 3 / 4;
}

.mutual-follow,
.followed {
    background-color: #dee2e6;
    border-radius: 5px;
    width: 130px;
    height: auto;
    font-weight: bold;
}

.followButton {
    grid-column: 4 / 5;
}

.followButton .btn {
    width: auto;
    height: 22.5px;
    margin: 5px;
    padding: 5px;
}

.material-symbols-outlined.fb {
    font-size: 20px;
}

/* 共通化 */
.followIcon,
.followFollow,
.mutual-follow,
.followed,
.followButton,
.followButton button,
.material-symbols-outlined.fb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.followButton .btn.unfollow,
.followButton .btn.unfavorite,
.followButton .btn.delete {
    background-color: #808080ad;
    color: white;
}

.followNickname,
.icon-name,
.mutual-follow-fb,
.followed-fb {
    font-size: 15px;
}

.btn-name,
.icon-name {
    display: none;
}

.followIcon,
.followUser,
.followFollow,
.followButton {
    grid-row: 1 / 2;
}

/* タブレット対応 */
@media screen and (min-width: 670px) {
    .main {
        width: 90%;
        margin-bottom: 41px;
    }

    .followContainer {
        width: 70%;
        grid-template-columns: 70px 2fr 2fr 1fr;
        grid-template-rows: 70px;
    }

    .followIcon img {
        width: 60px;
        height: 60px;
    }

    .followAccount {
        font-size: 15px;
    }

    .mutual-follow,
    .followed {
        width: 150px;
    }

    .followButton .btn {
        height: 25.5px;
    }

    .material-symbols-outlined.fb {
        font-size: 25px;
    }

    /* 共通化 */
    .followNickname,
    .icon-name,
    .mutual-follow-fb,
    .followed-fb {
        font-size: 17px;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1024px) {
    .main {
        width: 80%;
        margin-bottom: 19.5px;
    }

    .followContainer {
        width: 50%;
        grid-template-columns: 110px 1fr 1fr 1fr;
        grid-template-rows: 110px;
    }

    .followIcon img {
        width: 100px;
        height: 100px;
    }

    .followAccount {
        font-size: 17px;
    }

    .icon-name,
    .mutual-follow-fb,
    .followed-fb {
        font-size: 15px;
        display: block;
    }

    .mutual-follow,
    .followed {
        width: 180px;
    }

    .followButton .btn {
        width: auto;
        height: 30px;
    }

    .material-symbols-outlined.fb {
        font-size: 30px;
    }

    /* 共通化 */
    .followNickname,
    .icon-name,
    .mutual-follow-fb,
    .followed-fb {
        font-size: 20px;
    }

    .btn-name,
    .icon-name {
        display: block;
    }
}