/* モバイルファースト */
/* スマホ対応 */
.main {
    background-color: white;
    margin: 0 3%;
    width: 94%;
    border-radius: 0 0 10px 10px;
    margin-bottom: 3%;
}

.main .container {
    padding: 1% 0;
}

.followContainer {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 30% 35% 15%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid;
    border-radius: 5px;
}

.followIcon {
    grid-column: 1 / 2;
    padding: 1%;
}

.followIcon img {
    width: 50px;
    height: 50px;
}

.followUser {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.followAccount {
    font-size: 11px;
    color: gray;
}

.followFollow {
    grid-column: 3 / 4;
}

.mutual-follow,
.followed {
    background-color: #dee2e6;
    border-radius: 5px;
    width: 100%;
    height: auto;
    font-weight: bold;
}

.followButton {
    grid-column: 4 / 5;
}

.followButton .btn {
    width: 100%;
    height: auto;
}

.material-symbols-outlined.fb {
    font-size: 15px;
}

/* 共通化 */
.followIcon,
.followFollow,
.mutual-follow,
.followed,
.followButton,
.followButton button,
.material-symbols-outlined.fb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.followButton .btn.unfollow,
.followButton .btn.unfavorite,
.followButton .btn.delete {
    background-color: #808080ad;
    color: white;
}

.followNickname,
.mutual-follow-fb,
.followed-fb {
    font-size: 13px;
}

.btn-name,
.icon-name {
    display: none;
}

.followIcon,
.followUser,
.followFollow,
.followButton {
    grid-row: 1 / 2;
}

/* タブレット対応 */
@media screen and (min-width: 670px) {
    .followContainer {
        width: 70%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .followIcon img {
        width: 60px;
        height: 60px;
    }

    .followAccount {
        font-size: 13px;
    }

    .material-symbols-outlined.fb {
        font-size: 20px;
    }

    /* 共通化 */
    .followNickname,
    .mutual-follow-fb,
    .followed-fb {
        font-size: 15px;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1024px) {
    .followContainer {
        width: 50%;
        grid-template-columns: 20% 25% 30% 25%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .followIcon img {
        width: 100px;
        height: 100px;
    }

    .followAccount {
        font-size: 17px;
    }

    .material-symbols-outlined.fb {
        font-size: 30px;
    }

    /* 共通化 */
    .followNickname,
    .icon-name,
    .mutual-follow-fb,
    .followed-fb {
        font-size: 20px;
    }

    .icon-name,
    .mutual-follow-fb,
    .followed-fb,
    .btn-name,
    .icon-name {
        display: block;
    }
}