/* モバイルファースト */
/* スマホ対応 */
.header {
    margin: 0 3%;
    width: 94%;
    border-radius: 10px 10px 0 0;
    margin-top: 3%;
}

.header>.container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
    padding: 0 5%;
}

.title {
    font-family: 'Black Ops One', cursive;
    font-size: 200%;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding-top: 5%;
}

.userIcon {
    grid-column: 1 / 2;
}

.userIcon img {
    width: 50%;
}

.loginUser {
    grid-column: 2 / 3;
}

.userMenu {
    width: 100%;
    grid-column: 3 / 4;
}

.userIcon,
.loginUser,
.userMenu {
    grid-row: 2 / 2;
}

.userMenu .dropdown {
    display: none;
}

.userMenu .navbar {
    display: block;
}

.userMenu .navbar .offcanvas {
    width: 35%;
}

/* 共通化 */
.title,
.userIcon,
.loginUser,
.userMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* フォントカラー */
.title,
.loginUser,
.userMenu,
.userMenu .nav-link,
.userMenu .offcanvas-title {
    color: white;
}

/* フォントサイズ */
.loginUser,
.userMenu,
.userMenu .offcanvas-title,
.userMenu {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 60%;
}

.offcanvas-body ul li a {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
    transform: scale(0.8);
}

.navbar-toggler {
    font-size: 100%
}

.offcanvas-header {
    padding: 10% 5%;
}

.offcanvas-body {
    padding: 0;
}

/* タブレット対応 */
@media screen and (min-width: 768px) {
    .header>.container {
        grid-template-columns: 20% 60% 20%;
        padding: 0 10%;
    }

    .title {
        font-size: 300%;
    }

    .userIcon img {
        width: 60%;
    }

    .userMenu {
        width: 100%;
        grid-column: 3 / 4;
        grid-row: 2 / 2;
    }

    .userMenu .navbar {
        display: block;
    }

    .userMenu .navbar .offcanvas {
        width: 25%;
    }

    /* 共通化 */
    /* フォントサイズ */
    .loginUser,
    .userMenu,
    .userMenu .offcanvas-title,
    .userMenu,
    .offcanvas-body ul li a {
        font-size: 100%;
    }

    .navbar-toggler {
        font-size: 150%;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1280px) {
    .header>.container {
        grid-template-columns: 45% 10% 25% 20%;
        grid-template-rows: 100%;
        padding: 5% 1%;
    }

    .title {
        font-size: 400%;
        grid-column: 1 / 2;
        padding-top: 0;
    }

    .userIcon {
        grid-column: 2 / 3;
    }

    .userIcon img {
        width: 70%;
    }

    .loginUser {
        grid-column: 3 / 4;
    }

    .userMenu {
        grid-column: 4 / 5;
    }

    .title,
    .userIcon,
    .loginUser,
    .userMenu {
        grid-row: 1 / 1;
    }

    .userMenu .dropdown {
        display: block;
    }

    .userMenu .navbar {
        display: none;
    }

    .userMenu .dropdown .btn {
        font-size: 100%;
    }

    .userMenu .dropdown ul li a {
        font-size: 150%;
    }
}