/* モバイルファースト */
/* スマホ対応 */
.header {
    margin: 0 auto;
    width: 90%;
    border-radius: 10px 10px 0 0;
    margin-top: 15px;
}

.header>.container {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    grid-template-rows: 50px 50px;
    margin: 0 auto;
    padding: 0 25px;
}

.title {
    font-family: 'Black Ops One', cursive;
    font-size: 25px;
    height: auto;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.userIcon {
    text-align: center;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.userIcon img {
    width: 50px;
    height: 50px;
}

.loginUser {
    font-family: 'Noto Sans JP', sans-serif;
    height: auto;
    color: white;
    font-size: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.userMenu {
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    height: auto;
    color: white;
    font-size: 10px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 2 / 2;
}

.userMenu .dropdown {
    display: none;
}

.userMenu .navbar {
    display: block;
}

.userMenu .navbar-toggler {
    font-size: 15px;
}

.userMenu .navbar .offcanvas {
    width: 35%;
}

.userMenu .nav-link {
    color: white;
}

.userMenu .offcanvas-title {
    color: white;
    font-size: 10px;
}

/* タブレット対応 */
@media screen and (min-width: 670px) {
    .header>.container {
        grid-template-columns: 1fr 5fr 1fr;
        padding: 0px 100px;
    }

    .title {
        font-size: 30px;
    }

    .userIcon img {
        width: 50px;
        height: 50px;
    }

    .loginUser {
        font-size: 15px;
    }

    .userMenu {
        font-size: 15px;
        text-align: center;
        margin: auto;
        display: flex;
        align-items: center;
        grid-column: 3 / 4;
        grid-row: 2 / 2;
    }

    .userMenu .dropdown {
        display: none;
    }

    .userMenu .navbar {
        display: block;
    }

    .userMenu .navbar-toggler {
        font-size: 15px;
    }

    .userMenu .navbar .offcanvas {
        width: 20%;
    }

    .userMenu .nav-link {
        color: white;
    }

    .userMenu .offcanvas-title {
        font-size: 13px;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1024px) {
    .header {
        margin-top: 30px;
    }

    .header>.container {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 200px 1fr 1fr;
        grid-template-rows: 200px;
        padding: 0;
    }

    .title {
        font-family: 'Black Ops One', cursive;
        font-size: 60px;
        grid-column: 1 / 2;
    }

    .userIcon {
        text-align: center;
        height: 200px;
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }

    .userIcon img {
        width: 100px;
        height: 100px;
    }

    .loginUser {
        font-size: 20px;
        grid-column: 3 / 4;
        grid-row: 1 / 1;
    }

    .userMenu {
        font-size: 20px;
        margin: auto;
        grid-column: 4 / 5;
        grid-row: 1 / 1;
        justify-content: center;
    }

    .userMenu .dropdown .btn {
        font-size: 20px;
    }

    .userMenu .dropdown {
        display: flex;
        justify-content: center;
    }

    .userMenu .navbar {
        display: none;
    }
}