/* google web font */
h1.fStyle {
    font-family: 'Black Ops One', cursive;
}

/* .container {
    margin: 25px;
} */

.header {
    width: 100%;
    height: 50%;
    margin: 25px;
    background-color: blue;
}
