/* google web font */
h1.fStyle {
    font-family: 'Black Ops One', cursive;
}

.header {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

.main {
    margin: 0 auto;
    width: 500px;
    height: 100px;

}

.input {
    width: 80%;
}

.btn {
    width: 50%;
    margin: 10px;
    /* float: left; */
    text-align: center;
}
