/* モバイルファースト */
/* スマホ対応 */
.title {
    font-family: 'Black Ops One', cursive;
    font-size: 200%;
    width: 90%;
    text-align: center;
    padding: 5% 0;
    margin: 0 5%;
    margin-top: 5%;
    color: white;
    border-radius: 10px 10px 0 0;
}

.main {
    background-color: white;
    margin: 0 5%;
    width: 90%;
    border-radius: 0 0 10px 10px;
    padding: 5% 0;
}

form {
    margin: 0;
}

.input label,
.input input {
    width: 100%;
    font-size: 80%;
}

.form.normal {
    margin-bottom: 10%;
}

.form.error {
    border: 2px solid red;
}

.error-msg {
    color: red;
    padding-bottom: 3.22%;
}

.btn {
    width: 100%;
    margin: 1%;
    padding: 0.612%;
}

.button,
.button a,
.button button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-name {
    display: none;
}

.button .material-symbols-outlined {
    font-size: 119.9%;
}

/* タブレット対応 */
@media screen and (min-width: 768px) {
    .title {
        font-size: 300%;
        width: 80%;
        padding: 4% 0;
        margin: 0 10%;
        margin-top: 5%;
    }

    .main {
        margin: 0 10%;
        width: 80%;
        padding: 4% 0;
    }

    .input label,
    .input input {
        font-size: 90%;
    }

    .form.normal {
        margin-bottom: 5%;
    }

    .error-msg {
        padding-bottom: 1.265%;
    }

    .btn {
        padding: 0.318%;
    }

    .btn-name {
        display: none;
    }

    .button .material-symbols-outlined {
        font-size: 135.1%;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1280px) {
    .title {
        font-size: 400%;
        width: 60%;
        padding: 3% 0;
        margin: 0 20%;
        margin-top: 3%;
    }

    .main {
        margin: 0 20%;
        margin-bottom: 3%;
        padding: 2% 0;
        width: 60%;
    }

    .input label,
    .input input,
    .btn-name {
        font-size: 100%;
    }

    .form.normal {
        margin-bottom: 3%;
    }

    .error-msg {
        padding-bottom: 0.872%;
    }

    .btn {
        padding: 0.3%;
        margin: 0.5%;
    }

    .btn-name {
        display: block;
    }

    .button .material-symbols-outlined {
        font-size: 150%;
    }
}