/* モバイルファースト */
/* スマホ対応 */
/* navタグ */
nav.navigation,
nav.navbar-follow,
nav.navbar-room {
    background-color: #86b7fe57;
    font-family: 'Noto Sans JP', sans-serif;
}

/* ulタグ */
nav.navigation ul {
    display: table;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 1% 0;
}

nav.navbar-follow ul,
nav.navbar-room ul {
    display: table;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 1.41% 0;
}

/* liタグ */
nav.navigation ul li {
    display: table-cell;
    width: 20%;
}

nav.navbar-follow ul li.nav-item-follow.name,
nav.navbar-room ul li.nav-item-room.name {
    display: table-cell;
    width: 80%;
    vertical-align: middle;
}

nav.navbar-follow ul li.nav-item-follow.btn,
nav.navbar-room ul li.nav-item-room.btn {
    display: table-cell;
    width: 20%;
    vertical-align: middle;
    padding: 0 2%;
}

/* aタグ */
nav.navigation ul li.nav-item a {
    opacity: 0.5;
}

nav.navigation ul li.current a {
    font-weight: bold;
    opacity: 1;
}

nav.navigation ul li.nav-item a.nav-name-sp {
    font-size: 10px;
}

nav.navbar-follow ul li a.navbar-follow-name,
nav.navbar-room ul li a.navbar-room-name {
    font-size: 10px;
}

nav.navigation ul li.nav-item a,
nav.navbar-room ul li a.navbar-room-name,
nav.navbar-room ul li a.navbar-room-btn,
nav.navbar-follow ul li a.navbar-follow-name,
nav.navbar-follow ul li a.navbar-follow-btn {
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* spanタグ */
nav.navigation ul li.current span,
nav.navbar-room ul li a.navbar-room-name span,
nav.navbar-follow ul li a.navbar-follow-name span {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

nav.navigation ul li.nav-item a span.nav-name-pc,
nav.navbar-room ul li a span.navbar-room-btn-name,
nav.navbar-follow ul li a span.navbar-follow-btn-name {
    display: none;
}

nav.navigation ul li.nav-item a span.material-symbols-outlined.icon,
nav.navbar-room ul li a span.material-symbols-outlined.navbar-room-btn,
nav.navbar-follow ul li a span.material-symbols-outlined.navbar-follow-btn {
    font-size: 20px;
}

/* タブレット対応 */
@media screen and (min-width: 768px) {

    /* ulタグ */
    nav.navbar-follow ul,
    nav.navbar-room ul {
        padding: 1.49% 0;
    }

    /* aタグ */
    nav.navigation ul li.nav-item a.nav-name-sp {
        font-size: 13px;
    }

    nav.navbar-follow ul li a.navbar-follow-name,
    nav.navbar-room ul li a.navbar-room-name {
        font-size: 15px;
    }

    /* spanタグ */
    nav.navigation ul li.nav-item a span.material-symbols-outlined.icon,
    nav.navbar-room ul li a span.material-symbols-outlined.navbar-room-btn,
    nav.navbar-follow ul li a span.material-symbols-outlined.navbar-follow-btn {
        font-size: 25px;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1280px) {

    /* navタグ */

    /* ulタグ */
    nav.navigation ul,
    nav.navbar-follow ul,
    nav.navbar-room ul {
        padding: 0;
    }

    /* liタグ */

    /* aタグ */
    nav.navigation ul li.nav-item a {
        padding: 4% 0;
    }

    nav.navigation ul li:not(.current) a:hover {
        color: white;
        font-weight: bold;
        opacity: 1;
        transition: 0.3s;
        transform: scale(1.2);
        transform-origin: center;
    }

    nav.navigation ul li.nav-item a.nav-name-sp {
        display: none;
    }

    nav.navbar-follow ul li a.navbar-follow-name,
    nav.navbar-room ul li a.navbar-room-name {
        font-size: 20px;
        padding: 1% 0;
    }

    /* spanタグ */
    nav.navigation ul li a:hover span {
        border-bottom: 3px solid white;
        padding-bottom: 2px;
    }

    nav.navigation ul li.current span,
    nav.navbar-room ul li a.navbar-room-name span,
    nav.navbar-follow ul li a.navbar-follow-name span {
        border-bottom: 3px solid white;
    }

    nav.navigation ul li.nav-item a span.nav-name-pc,
    nav.navbar-room ul li a span.navbar-room-btn-name,
    nav.navbar-follow ul li a span.navbar-follow-btn-name {
        display: block;
        font-size: 20px;
    }

    nav.navigation ul li.nav-item a span.material-symbols-outlined.icon,
    nav.navbar-room ul li a span.material-symbols-outlined.navbar-room-btn,
    nav.navbar-follow ul li a span.material-symbols-outlined.navbar-follow-btn {
        font-size: 30px;
    }
}