nav {
    background-color: #86b7fe57;
    font-family: 'Noto Sans JP', sans-serif;
    height: 60px;
}

nav ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

nav ul li {
    display: table-cell;
    width: 20%;
}

nav ul li.nav-item a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    align-items: center;
    justify-content: center;
    height: 60px;
}

nav ul li.nav-item {
    transition: 0.3s;
    transform: scale(1);
}

nav ul li.current a {
    color: white;
    font-weight: bold;
    opacity: 1;
    transform: scale(1.2);
}

nav ul li.current span {
    border-bottom: 2px solid white;
    padding-bottom: 1px;
}

nav ul li:not(.current) a:hover {
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: 0.3s;
    transform: scale(1.2);
}

nav ul li a:hover span {
    border-bottom: 2px solid white;
    padding-bottom: 1px;
}

@media (max-width: 1000px) {

    nav ul li.nav-item span:not(.material-symbols-outlined.nav) {
        display: none;
    }

    nav ul li:not(.current) a:hover {
        pointer-events: none;
    }


}

@media (max-width: 400px) {

    nav ul li.nav-item span:not(.material-symbols-outlined.nav) {
        display: none;
    }

    nav ul li:not(.current) a:hover {
        pointer-events: none;
    }


}