/* モバイルファースト */
/* スマホ対応 */
.title {
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    width: 90%;
    height: auto;
    text-align: center;
    padding: 25px 0;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    border-radius: 10px 10px 0 0;
}

.main {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    height: auto;
    border-radius: 0 0 10px 10px;
}

.form,
.input {
    width: 100%;
    font-size: 10px;
}

.input.guide {
    padding: 10px 0;
}

.btn {
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 0;
}

.button a,
.button button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.btn-name {
    display: none;
}

.button .material-symbols-outlined {
    font-size: 20px;
}

/* タブレット対応 */
@media screen and (min-width: 670px) {
    .title {
        font-size: 50px;
    }

    .form,
    .input {
        font-size: 15px;
    }

    .btn {
        padding: 0;
    }


    .button {
        padding-bottom: 20px;
    }

    .button .material-symbols-outlined {
        font-size: 25px;
    }

    .btn-name {
        display: block;
        font-size: 15px;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1024px) {
    .title {
        font-size: 60px;
        width: 60%;
        padding: 50px 0;
    }

    .main {
        width: 60%;
    }

    .form,
    .input {
        font-size: 20px;
    }

    .input.guide {
        padding: 20px 0;
    }

    .btn {
        padding: 5px;
    }

    .button {
        padding-bottom: 20px;
    }

    .button .material-symbols-outlined {
        font-size: 30px;
    }

    .btn-name {
        font-size: 20px;
    }
}