/* モバイルファースト */
/* スマホ対応 */
.title {
    font-family: 'Black Ops One', cursive;
    font-size: 200%;
    width: 90%;
    text-align: center;
    padding: 5% 0;
    margin: 0 auto;
    margin-top: 5%;
    color: white;
    border-radius: 10px 10px 0 0;
}

.main {
    background-color: white;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 5% 0;
    width: 90%;
    border-radius: 0 0 10px 10px;
}

.input label,
.input input.form,
#icon {
    width: 100%;
    font-size: 70%;
}

.form.normal,
#icon {
    margin-bottom: 10%;
}

.form.error {
    border: 2px solid red;
}

.error-msg {
    color: red;
    padding-bottom: 3%;
}

.input.guide {
    padding-bottom: 5%;
}

.btn {
    width: 100%;
    margin: 1%;
    padding: 1%;
}

.button,
.button a,
.button button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

p.icon-name {
    display: none;
}

p.material-symbols-outlined.icon {
    font-size: 150%;
}

.input.icon label input {
    vertical-align: middle;
    transform: scale(0.8);
    margin-right: 1.5%;
}

img {
    width: 25%;
    margin: 3% 0;
}

p {
    margin: 0;
}

/* タブレット対応 */
@media screen and (min-width: 768px) {
    .title {
        font-size: 300%;
        width: 80%;
        padding: 4% 0;
        margin-top: 4%;
    }

    .main {
        padding: 3% 0;
        width: 80%;
    }

    .input label,
    .input input.form,
    #icon {
        font-size: 90%;
    }

    .form.normal,
    #icon {
        margin-bottom: 6%;
    }

    .error-msg {
        padding-bottom: 2%;
    }

    .input.guide {
        padding-bottom: 4%;
    }

    .button,
    .button a,
    .button button {
        font-size: 110%;
    }

    .input.icon label input {
        transform: scale(1.0);
    }

    img {
        width: 20%;
        margin: 2% 0;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1280px) {
    .title {
        font-size: 400%;
        width: 60%;
        padding: 3% 0;
        margin-top: 3%;
    }

    .main {
        padding: 2% 0;
        width: 60%;
    }

    .input label,
    .input input.form,
    #icon {
        font-size: 100%;
    }

    .form.normal,
    #icon {
        margin-bottom: 5%;
    }

    .input.guide {
        padding-bottom: 3%;
    }

    .input.icon label input {
        transform: scale(1.2);
        margin-left: 1%;
    }

    img {
        width: 15%;
        margin: 1% 0;
    }

    p.icon-name {
        display: block;
    }
}