/* google web font */
.header {
    margin: 0 auto;
    width: 90%;
    border-radius: 10px 10px 0 0;
    margin-top: 30px;
}

.header>.container {
    display: flex;
    justify-content: center;
}

.title {
    font-family: 'Black Ops One', cursive;
    font-size: 60px;
    width: 600px;
    height: 200px;
    text-align: center;
    color: white;
    border-radius: 10px 10px 0 0;
    margin: auto;
    align-items: center;
    display: flex;
}

.loginUser {
    height: 200px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
}

.userMenu {
    height: 200px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
}

.userIcon {
    text-align: center;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.tweetpost {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 10px;
}

/* .tweet {
    width: 80%;
    display: block;
} */

.tweetpost .btn {
    margin-left: 10px;
}

.main {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
}

.tweetContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

th,
td {
    border: solid 1px;
    /* 枠線指定 */
    height: 90px;
    width: 270px;
}

table {
    border-collapse: collapse;
    /* セルの線を重ねる */
}