/* モバイルファースト */
/* スマホ対応 */
.tweetpost {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 2% 5%;
    font-size: 10px;
}

.tweetpost button {
    margin-left: 10%;
}

.main {
    background-color: white;
    margin: 0 3%;
    width: 94%;
    border-radius: 0 0 10px 10px;
    margin-bottom: 3%;
    padding: 1%;
}

.main .container {
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.tweetContainer {
    width: 90%;
    height: 200px;
    display: grid;
    grid-template-columns: 30% 25% 10% 10% 25%;
    grid-template-rows: 30% 50% 20%;
    margin: 0 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid;
    border-radius: 5px;
}

.tweetIcon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 5%;
}

.tweetIcon img {
    width: 50px;
    height: 50px;
}

.tweetUser {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.tweetNickname {
    font-size: 15px;
}

.tweetAccount {
    font-size: 13px;
    color: gray;
}

.tweetFollow {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    justify-content: right;
    padding-right: 5%;
}

.mutual-follow,
.followed {
    background-color: #dee2e6;
    border-radius: 5px;
    width: 100%;
    height: 50%;
    font-weight: bold;
}

.tweetButton {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-content: left;
    padding-left: 5%;
}

.tweetButton .btn {
    width: 90%;
    margin: 0 0%;
}

.material-symbols-outlined.tb,
.material-symbols-outlined.tp {
    font-size: 20px;
}

.mutual-follow-tb,
.followed-tb {
    font-size: 10px;
}

.tweetContent {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    border-top: 1px solid;
    padding: 1% 2%;
    font-size: 15px;
}

.tweetTime {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    padding-right: 5%;
    color: gray;
    justify-content: right;
    font-size: 15px;
}

/* 共通化 */
.btn-name,
.icon-name {
    display: none;
}

.tweetButton .btn.unfollow,
.tweetButton .btn.unfavorite,
.tweetButton .btn.delete {
    background-color: #808080ad;
    color: white;
}

.tweetpost button,
.tweetIcon,
.tweetFollow,
.mutual-follow,
.followed,
.tweetButton,
.tweetButton button,
.material-symbols-outlined.tb,
.tweetTime {
    display: flex;
    align-items: center;
}

.tweetpost button,
.tweetIcon,
.tweetUser,
.mutual-follow,
.followed,
.tweetButton button {
    justify-content: center;
}

/* タブレット対応 */
@media screen and (min-width: 768px) {
    .tweetpost {
        padding: 2% 10%;
        font-size: 13px;
    }

    .tweetContainer {
        width: 70%;
        height: 250px;
        grid-template-columns: 20% 30% 10% 10% 30%;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .tweetIcon img {
        width: 60px;
        height: 60px;
    }

    .tweetAccount {
        font-size: 15px;
    }

    .material-symbols-outlined.tb,
    .material-symbols-outlined.tp {
        font-size: 25px;
    }

    /* 共通化 */
    .tweetNickname,
    .mutual-follow-tb,
    .followed-tb,
    .tweetContent,
    .tweetTime {
        font-size: 17px;
    }
}

/* ＰＣ対応 */
@media screen and (min-width: 1280px) {
    .tweetpost .tweet {
        border-radius: 5px;
        padding-left: 5px;
    }

    .tweetpost {
        padding: 1% 15%;
        font-size: 20px;
    }

    .tweetContainer {
        width: 60%;
        height: 300px;
        grid-template-columns: 20% 20% 20%;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 1%;
        grid-template-rows: 40% 40% 20%;
    }

    .tweetAccount {
        font-size: 17px;
    }

    .tweetButton {
        padding-left: 2%;
    }

    .tweetButton .btn {
        width: 140px;
        margin: 0 5px;
    }

    .tweetIcon img {
        width: 100px;
        height: 100px;
    }

    .btn-name,
    .icon-name {
        display: flex;
    }

    .mutual-follow,
    .followed {
        height: 40%;
    }

    /* 共通化 */
    .material-symbols-outlined.tb,
    .material-symbols-outlined.tp {
        font-size: 30px;
    }

    /* 共通化 */
    .tweetNickname,
    .mutual-follow-tb,
    .followed-tb,
    .tweetContent,
    .tweetTime {
        font-size: 20px;
    }
}